<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment.html :: header('User Block Page')">
</head>
<body>
<header>
    <section th:include="fragment.html :: navbar"></section>
</header>
<main>

    <h1>Block User Page</h1>
    <div class="container">
        <div class="row">
            <div class="col-4 mx-auto">
                <form method="post" th:action="@{/auth/block/{id}(id=${user.id})}">
                    <button type="submit" class="btn btn-danger">Yes</button>
                    <a th:href="@{/auth/list}" class="btn btn-warning">No</a>
                </form>
            </div>
        </div>
    </div>
</main>
<footer>
    <section th:include="fragment.html :: js-files"></section>
</footer>
</body>
</html>
