<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log out</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Red+Hat+Display&display=swap"
            rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/logout.css}">
</head>
<body>
<div class="container">
    <h3>Block User</h3>

    <form method="post" th:action="@{/auth/block/{id}(id=${user.id})}">

        <div class="btn">
            <a th:href="@{/auth/list}">
                <button type="submit">No</button>
            </a>
            <button type="submit">Yes</button>
        </div>

    </form>
</div>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:include="fragment.html :: header('User Block Page')">-->
<!--</head>-->
<!--<body>-->

<!--<main>-->

<!--    <h1>Block User Page</h1>-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-4 mx-auto">-->
<!--                <form method="post" th:action="@{/auth/block/{id}(id=${user.id})}">-->
<!--                    <button type="submit" class="btn btn-danger">Yes</button>-->
<!--                    <a th:href="@{/auth/list}" class="btn btn-warning">No</a>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</main>-->
<!--<footer>-->
<!--    <section th:include="fragment.html :: js-files"></section>-->
<!--</footer>-->
<!--</body>-->
<!--</html>-->
