<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<header>

</header>
<main>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <p class="h4" th:text="${user.username}"></p>
                <p class="h4" th:text="${user.email}"></p>
                <p class="h4" th:text="${user.id}"></p>

                <img class="mr-3" width="120" height="180" th:src="@{${user.image}}"
                     th:alt="${user.username}"/>
                <form method="get" th:action="@{/auth/list}">
                    <button type="submit" class="btn btn-warning">Back</button>
                </form>
            </div>
        </div>
    </div>
</main>
<footer>
    <section th:include="fragment.html :: js-files"></section>
</footer>
</body>
</html>
