<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index html one</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Red+Hat+Display&family=Rubik:wght@400;500;600;700&display=swap"
          rel="stylesheet">
</head>

<style>
    ul {
        list-style-type: square;
    }
</style>

<body class="myb">


<header>

    <main>
        <div class="menu-bar">
            <i class="fas fa-bars"></i>
        </div>

        <div class="logo">
            <img src="https://github.com/qodirovsaidjalol/group-one/blob/8529d96f2194c415f51de795df68064c97a579f1/src/main/resources/static/imges/logo.png"
                 width="166" th:src="@{/imges/logo.png}" alt="not"/>
        </div>

    </main>

    <aside>

        <nav id="index-nav">
            <div class="input">
                <div>
                    <i class="fas fa-search"></i>
                </div>

                <label>
                    <input type="text" placeholder="Search">
                </label>

            </div>

            <div class="user-information">
                <div class="icon">
                    <img src="https://github.com/qodirovsaidjalol/group-one/blob/8529d96f2194c415f51de795df68064c97a579f1/src/main/resources/static/imges/bell.png"
                         width="33" th:src="@{/imges/bell.png}" alt=""/>
                    <i class="far fa-envelope"></i>
                </div>

                <div class="user">

                    <img src="https://yt3.ggpht.com/ytc/AAUvwngn8SLWqd9pJjSKeeKWjpKzYA0imRDlQbi6yWf8=s900-c-k-c0x00ffffff-no-rj"
                         width="56" alt="not">
                    <details>
                        <summary>Saidjalol Qodirov.</summary>

                    </details>
                </div>

            </div>

        </nav>

        <div class="container">
            <div class="row">
                <div class="col-4 mx-auto">
                    <div>
                        <img th:src="${user.getImage()}" alt="not found" src="">
                        <ul>
                            <li><h1>About User</h1></li>
                            <li class="h4" th:text="${user.username}"></li>
                            <li class="h4" th:text="${user.email}"></li>
                            <li class="h4" th:text="${user.role}"></li>
                            <li class="h4" th:text="${user.language}"></li>
                            <ul>
                                <li><b>Projects</b></li>
                                <li>Project 1</li>
                                <li>Project 2</li>
                                <li>Project 3</li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </aside>

</header>

</body>
</html>
