<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
            name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <title>Thymeleaf CRUD Example</title>

    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
          rel="stylesheet">

</head>

<body class="container">
<form class="col card p-3 my-5" enctype="multipart/form-data" method="post" th:action="'/auth/update/'+${user.id}"
      th:object="${user}">

    <div class="form-group">
        <label for="firstName"> Name</label>
        <input class="form-control" id="firstName" placeholder="Enter First Name" required
               th:field="*{username}"
               type="text"/>
    </div>

    <div class="form-group">
        <label for="email"> Email</label>
        <input class="form-control" id="email" placeholder="Enter email" required
               th:field="*{email}"
               type="text"/>
    </div>


    <div class="form-group">
        <label for="role">Role</label>
        <select class="form-control " id="role" required th:field="*{role}">
            <option hidden value="">Select a role</option>
            <option
                    th:each="role : ${T(uz.pdp.spring_boot.entity.user
                    .Role).values()}"
                    th:text="${role}"
                    th:value="${role}">
            </option>
        </select>
    </div>

    <div class="form-group">
        <label for="lang">Language</label>
        <select class="form-control " id="lang" required th:field="*{language}">
            <option hidden value="">Select a language</option>
            <option
                    th:each="lan : ${T(uz.pdp.spring_boot.entity.user.Language).values()}"
                    th:text="${lan}"
                    th:value="${lan}">
            </option>
        </select>
    </div>

    <div>
        <input class="btn btn-success" type="submit" value="Update">
    </div>

</form>
</body>
</html>

