<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index html one</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Red+Hat+Display&family=Rubik:wght@400;500;600;700&display=swap"
          rel="stylesheet">
</head>

<style>
    ul {
        list-style-type: square;
    }
</style>

<body class="myb">

<header>
    <main id="index-main-page">
        <div class="menu-bar">
            <i class="fas fa-bars"></i>
        </div>

        <div class="logo">
            <img src="https://github.com/qodirovsaidjalol/group-one/blob/8529d96f2194c415f51de795df68064c97a579f1/src/main/resources/static/imges/logo.png"
                 width="166" th:src="@{/imges/logo.png}" alt="not"/>
        </div>

        <div class="link">
            <a href="#"> -- Supper Admin
            </a>
            <a th:href="@{/organization/list}">Organizations</a>
            <a th:href="@{/auth/listAll}">All Users</a>
            <a th:href="@{/organization/create}">Create Organization</a>
            <a href="#">Logout</a>

        </div>
    </main>
    <aside>
        <nav id="index-nav">
            <div class="input">
                <div>
                    <i class="fas fa-search"></i>
                </div>

                <label>
                    <input type="text" placeholder="Search">
                </label>

            </div>

            <div class="user-information">
                <div class="icon">
                    <img src="https://github.com/qodirovsaidjalol/group-one/blob/8529d96f2194c415f51de795df68064c97a579f1/src/main/resources/static/imges/bell.png"
                         width="33" th:src="@{/imges/bell.png}" alt=""/>
                    <i class="far fa-envelope"></i>
                </div>

                <div class="user">

                    <img src="https://yt3.ggpht.com/ytc/AAUvwngn8SLWqd9pJjSKeeKWjpKzYA0imRDlQbi6yWf8=s900-c-k-c0x00ffffff-no-rj"
                         width="56" alt="not">
                    <details>
                        <summary>Saidjalol Qodirov.</summary>

                    </details>
                </div>

            </div>

        </nav>

        <div class="container">
            <div class="row">
                <div class="col-4 mx-auto">
                    <div>
                        <img th:src="@{${organization.logo}}" alt="not found" src="">
                        <ul>
                            <li><h1>About Organization</h1></li>
                            <li class="h4"> Organization name => <b th:text="${organization.name}"></b></li>
                            <li class="h4">Organization email=> <b th:text="${organization.email}"></b></li>
                            <li class="h4">Organization code=> <b th:text="${organization.code}"></b></li>
                            <h1>Owner</h1>
                            <li class="h4">Owner username => <b th:text="${owner.username}"></b></li>
                            <li class="h4">Owner email => <b th:text="${owner.email}"></b></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</header>
</body>
</html>
