<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment.html :: header('Organization Detail Page')">
</head>
<body>
<header>
</header>
<main>

    <h1>Detail Organization Page</h1>
    <div class="container">
        <div class="row">
            <div class="col-4 mx-auto">
                <main>
                    <img th:src="@{/assets/imges/logo}" alt="not found">
                </main>
                <div>
                    <ul>
                        <li class="h4" th:text="${organization.name}"></li>
                        <li class="h4" th:text="${organization.email}"></li>
                        <li class="h4" th:text="${organization.location}"></li>
                        <li class="h4" th:text="${organization.code}"></li>
                        <li class="h4" th:text="${organization.owner}"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <section th:include="fragment.html :: js-files"></section>
</footer>
</body>
</html>
