<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment.html :: header('Home Page')"></head>


<head th:fragment="header(name)">
    <meta charset="UTF-8">
    <title th:text="${name}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body class="myb">

<header th:include="fragment.html :: navbar"></header>
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Owner</th>
                <th>Detail</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="organization,iter : ${organizations}">
                <td th:text="${iter.count}"></td>
                <td th:utext="${organization.getName()}"></td>
                <td th:utext=" ${organization.getEmail()}"></td>
                <td th:utext="${organization.getOwner()}"></td>
                <td>
                    <a th:href="@{/organization/detail/{id}/(id=${organization.id})}">Details</a>
                </td>
                <td>
                    <a th:href="@{/organization/block/{id}/(id=${organization.id})}">🔐</a>
                    <a th:href="@{/organization/unblock/{id}/(id=${organization.id})}">🔓</a>
                    <a th:href="@{/organization/delete/{id}/(id=${organization.id})}">🗑</a>
                    <a th:href="@{/organization/update/{id}/(id=${organization.id})}"> ✏ </a>
                </td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/organization/create}" class="btn btn-success">➕ Add</a>
    </div>
</div>

<section th:include="fragment.html :: js-files"></section>
</body>
</html>



