<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment.html :: header('Task Block Page')">
</head>
<body>
<header>
    <section th:include="fragment.html :: navbar"></section>
</header>
<main>

    <h1>Task lock Page</h1>
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto">
                <ul>
                    <li th:text="${task.name}"></li>
                </ul>
                <form method="post" th:action="@{/task/block/{id}(id=${task.id})}">
                    <button type="submit" class="btn btn-danger">Yes</button>
                    <a th:href="@{/task/list/{id}/(id=${task.getColumn().getId()})}" class="btn btn-warning">No</a>
                </form>
            </div>
        </div>
    </div>
</main>
<!--<footer>-->
<!--    <section th:include="fragment.html :: js"></section>-->
<!--</footer>-->
</body>
</html>