<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment.html :: header('Home Page')"></head>


<head th:fragment="header(name)">
    <meta charset="UTF-8">
    <title th:text="${name}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body class="myb">

<div class="container">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task,iter : ${tasks}">
                <td th:text="${iter.count}"></td>
                <td th:text="${task.getName()}"></td>
                <td th:text=" ${task.getDescription()}"></td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/task/create}" class="btn btn-success">➕ Add</a>
    </div>
</div>

<section th:include="fragment.html :: js-files"></section>
</body>
</html>



