<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
            name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <title>Thymeleaf CRUD Example</title>

    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
          rel="stylesheet">

</head>

<body class="container">
        <div class="col-6 mx-auto">
            <form class="col card p-3 my-5" th:action="@{/task/update}" th:method="post" th:object="${task}">
                <div style="color: #2e3cfb; text-align: center"><h2>Task Update</h2></div>
                <div class="form-group">
                    <label for="id" class="form-label"></label>
                    <input class="form-control" type="hidden" id="id" name="id" th:value="${task.getId()}"/> <!--th:field="*{description}"-->
                    <span style="color: red" th:errors="*{id}"></span>
                </div>
                <div class="form-group">
                    <label for="name" class="form-label">Title</label>
                    <input class="form-control" type="text" id="name" name="name" th:value="${task.getName()}" /> <!--th:field="*{name}"-->
                    <span style="color: red" th:errors="*{name}"></span>
                </div>
                <div class="form-group">
                    <label for="description" class="form-label">Description</label>
                    <input class="form-control" type="text" id="description" name="description" th:value="${task.getDescription()}"/> <!--th:field="*{description}"-->
                    <span style="color: red" th:errors="*{description}"></span>
                </div>
                <div class="form-group">
                    <label for="columnId" class="form-label">ColumnId</label>
                    <input class="form-control" type="text" id="columnId" name="columnId" th:value="${task.getColumn().getId()}"/> <!--th:field="*{column}"-->
                    <!--                    <span style="color: red" th:errors="*{column}"></span>-->
                </div>
                <div class="form-group">
                    <label for="deadline">Deadline</label>
                    <input class="form-control form-control-lg" type="date" id="deadline" name="deadline" required="" th:value="${task.getDeadline()}">
                </div>
                <div class="form-group">
                    <label for="level">Level</label>
                    <select class="form-control " id="level" required th:field="*{level}">
                        <option name="role_name" value="3">HARD</option>
                        <option name="role_name" value="2">MIDDLE</option>
                        <option name="role_name" value="1">EASY</option>
                    </select>
                </div>
                <div style="color: #42ef26; text-align: center">
                    <input class="btn btn-success" type="submit" value="Update">
                </div>
            </form>
        </div>


<section th:include="fragment.html :: js-files"></section>
</body>
</html>