<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment.html :: header('Home Page')"><title></title></head>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index html one</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Red+Hat+Display&family=Rubik:wght@400;500;600;700&display=swap"
          rel="stylesheet">
</head>

<body class="myb">


<header>
    <main>
        <div class="menu-bar">
            <i class="fas fa-bars"></i>
        </div>
        <div class="logo">
            <img src="./assets/imges/logo.png" alt="">
        </div>

        <div class="link">
            <a th:href="@{/organization/list}">Organizations</a>
            <a th:href="@{/auth/list}">Users</a>
        </div>
    </main>

    <aside>
        <nav>
            <div class="input">
                <div>
                    <i class="fas fa-search"></i>
                </div>

                <label>
                    <input type="text" placeholder="Search">
                </label>
            </div>

            <div class="user-information">
                <div class="icon">
                    <img src="assets/imges/bell.png" alt="">
                    <i class="far fa-envelope"></i>
                </div>

                <div class="user">
                    <img src="./assets/imges/useer.png" alt="">
                    <p>Azhar I.
                        <i class="fas fa-angle-down"></i>
                    </p>
                </div>

            </div>

        </nav>


    </aside>

</header>

</body>
</html>